:root {
  --bgcolor: #eeeeee;

  --fgcolor1: #c6c6c6;
  --fgcolor2: #a2a2a2;
  --fgcolor3: #7e7e7e;
  --fgcolor4: #636363;
  --fgcolor5: #101010;

  --highlight: rgb(243, 119, 119);

  --layout-width1: 1600px;

  --headings-font: 'Raleway', sans-serif;
  --text-font: 'Open Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--bgcolor); 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--fgcolor5); 
}

* {
  margin: 0;
  padding: 0;
  color: #000;
}
body {
  font-size: 16px;
  font-family: var(--text-font);
}
a {
  text-decoration: none;
}

.icon-btn3 {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  box-sizing: border-box;
}

.icon-btn3 svg {
  width: 18px;/*calc(var(--size)px*(50/100));*/
  stroke: #fff;
  fill: #fff;
  stroke-width: 2px;
}




.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

.flex, .flex-solid {
  display: flex;
}
.flex-solid .flex-solid-col {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.flex-solid .flex-solid-col > .item {
  margin: 4px;
}
.flex-solid .flex-solid-col > .item:first-child {
  margin-left: 0;
}
.flex-solid .flex-solid-col > .item:last-child {
  margin-right: 0;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}

.pin-top {
  top: 0;
}
.pin-vertical-center {
  top: 50%;
  transform: translateY(-50%);
}
.pin-bottom {
  bottom: 0;
}
.pin-left {
  left: 0;
}
.pin-horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}
.pin-right {
  right: 0;
}

.grid {
  display: grid;
}
.grid.cols-1 {
  grid-template-columns: auto;
}
.grid.cols-2 {
  grid-template-columns: auto auto;
}
.grid.cols-3 {
  grid-template-columns: auto auto auto;
}
.grid.cols-4 {
  grid-template-columns: auto auto auto auto;
}
.grid.cols-5 {
  grid-template-columns: auto auto auto auto auto;
}

.group-content {
  width: fit-content;
  display: flex;
  align-items: center;
}



i.icon {
  --font-size: 18px;
  margin: 2px 0 0 4px;
}
i.icon svg {
  height: auto;
  width: calc(var(--font-size));
}